/* general */
#hero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
}

#filters {
  padding: 10px;
  background-color: #f5f5f5;
  border-radius: 6px;
  padding-top: 20px;
  width: 100%; 
  margin-bottom: 20px; 
  box-sizing: border-box; 
}

#filter-inputs {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.filter-select,
.filter-number {
  flex: 1 1 150px;
  display: flex;
  flex-direction: column;
}

.filter-select label,
.filter-number label {
  font-weight: bold;
  margin-bottom: 4px;
  font-size: 14px;
}

.filter-select select,
.filter-number input {
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.filter-check{
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  margin-right: 15px;
  accent-color: #5c4a3d;
}

#filter-btn {
  margin-top: 15px;
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}

#filter-btn button {
  padding: 8px 14px;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}

#filter-btn button[type="submit"] {
  background-color:  #5c4a3d;;
  color: white;
}

#filter-btn button[type="reset"] {
  color: #333;
  background-color: #bbb;
}


#pensiones {
	display: flex;
	flex-wrap: wrap;
	justify-content: center; 
	gap: 24px;
	padding: 20px;
}

.pension-card {
	background-color: #e7dfd9; 
	border-radius: 16px;
	padding: 20px;
	width: 260px;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: 0 4px 10px rgba(0,0,0,0.08);
	transition: transform 0.3s ease;
	margin: 10px auto;
}

.pension-image-container {
	width: 230px;
	height: 150px;
	border-radius: 12px;
	align-items: center;
	text-align: center;
	display: flex;
	justify-content: space-around;
	gap: 10px;
	overflow: hidden;
	position: relative;
}
.pension-tipo {
	font-size: 18px;
	font-weight: 500;
	color: #5e524a;
	margin-bottom: 8px;
	text-align: center;
}

#paginacion {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    padding: 20px;
}

#paginacion a {
    color: #1a2015;
    font-size: 24px;
    display: inline-flex;
}

#paginacion a:hover {
    color: #1a2015;
    transform: scale(1.2);
}

.pagina-numeros {
    display: flex;
    gap: 10px;
    font-size: 18px;
    font-weight: bold;
    color:#1a2015;
}

.pagina-numeros span {
    cursor: pointer;
}

.pagina-numeros span:hover {
    transform: scale(1.2);
}

.pagina-activa {
    background-color: #6f6158;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
}


.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3); 
	display: none;
	justify-content: center;
	align-items: center;
	z-index: 1000;
}

.modal.show {
  	display: flex;
}

.modal-content {
	background-color:#f1e9e9;
	padding: 30px;
	border-radius: 10px;
	width: 90%;
	max-width: 600px;
	box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
	font-family: Arial, sans-serif;
}


.modal-content h3,
.modal-content h4 {
	margin-top: 0;
	color: #222;
	font-size: 20px;
	padding-top: 20px;

}

.modal-content label {
	display: block;
	margin-top: 15px;
	font-weight: bold;
}

.modal-content input[type="date"],
.modal-content input[type="number"] {
	width: 100%;
	padding: 8px 12px;
	margin-top: 5px;
	border: 1px solid #ccc;
	border-radius: 6px;
	background-color: #e1d5d5;
}


.modal-content ul {
	list-style-type: disc;
	padding-left: 20px;
	margin-top: 10px;
}

.modal-content li {
 	margin-bottom: 10px;
}

.modal-content button {
	margin-top: 15px;
	padding: 8px 16px;
	border: 1px solid #bbb;
	border-radius: 30px;
	cursor: pointer;
}

.modal-content button:hover {
  	background-color: #ccc;
}

.pension-card {
	margin-bottom: 40px;
	border: 1px solid #ccc;
	padding: 15px;
	border-radius: 10px;
	background-color: #fdfdfd;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}



.pension-image {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    object-position: center;
}

.pension-buttons button {
    min-width: 120px;
}

.btn-success {
	background-color: #b8a492;
	border-color: #222;
}

.btn-success:hover {
	background-color: #5e524a;
}