<header>
    <nav class="navbar">
      <div class="logo">
        <a routerLink="/home">
          <img src="/assets/icon128px.png" alt="Logo Click2Book" id="icon" />
          <span>Click2Book</span>
        </a>
      </div>
      <ul class="nav-links">
        <li><a routerLink="/home"><i class="bi bi-house"></i> Home</a></li>
        <li><a routerLink="/pensiones"><i class="bi bi-building"></i> Pensiones</a></li>
        <li><a routerLink="/reservas"><i class="bi bi-bookmark-check"></i> Reservas</a></li>
        <li><a routerLink="/user"><i class="bi bi-person-circle"></i></a></li>
      </ul>
    </nav>
</header>