<footer class="footer footer-center p-10 bg-base-200 text-base-content rounded mt-10">
  <nav class="grid grid-flow-col gap-4">
    <a routerLink="/home" class="link link-hover">Inicio</a>
    <a routerLink="/pensiones" class="link link-hover">Pensiones</a>
    <a routerLink="/reservas" class="link link-hover">Reservas</a>
  </nav>
  <nav>
    <div class="grid grid-flow-col gap-4">
      <p>Desarrollado por: Rossimar Jiménez, Yesid Soto y Carlos Rincones</p>
    </div>
  </nav>
  <aside>
    <p>Copyright © 2026 - Todos los derechos reservados por Click2Book</p>
  </aside>
</footer>
