footer {
    text-align: center;
    padding: 20px;
    background-color: #6f6158;
    color: white;
}

.footer-content {
  max-width: 1000px;
  margin: 0 auto;
}

.footer .team {
  margin-bottom: 10px;
}

footer .social-links a {
  margin: 0 10px;
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}

footer .social-links a:hover {
  color: #e0dad5;
  text-decoration: underline;

}

footer i {
  margin-right: 6px;
}