<footer>
    <div class="footer-content">
        <div class="team">
            <p>&copy; 2025 Click2Book - Todos los derechos reservados</p>
            <p>Desarrollado por: Rossimar Jiménez, Yesid Soto y Carlos Rincones</p>
        </div>
        <div class="social-links">
            <a href="https://github.com/Rossy26" target="_blank" aria-label="Rossimar GitHub">
                <i class="bi bi-github"> Rossimar</i>
              </a>
              <a href="https://github.com/Yes577" target="_blank" aria-label="Yesid GitHub">
                <i class="bi bi-github"> Yesid</i>
              </a>
              <a href="https://github.com/carlosrs14" target="_blank" aria-label="Carlos GitHub">
                <i class="bi bi-github"> Carlos</i> 
              </a>
        </div>
    </div>
</footer>
